body {
  scrollbar-width: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

.logo {
  margin-top: 40px;
}

.main {
  -webkit-columns: 2;
          columns: 2;
  gap: 40px;
  -webkit-column-width: auto;
          column-width: auto;
  position: relative;
  width: 60%;
  top: 100px;
  height: 600px;
  float: right;
  padding-top: 30px;
}

.panel {
  height: calc( 100% - 2 * 30px);
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 10px;
}

.panel h1 {
  display: block;
  width: auto;
  margin: auto;
  text-align: center;
  font-family: 'Nokio';
  font-weight: 400;
  margin: 0;
  padding: 1em 0;
  line-height: 1em;
  font-size: 2em;
}

.panel .kolor {
  width: 100px;
  height: 100px;
  background-color: black;
}

.panel input:not([type="submit"]) {
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  margin: 1em;
  font-size: 1em;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  outline: none;
  width: calc(100% - 10em);
}

.panel input:not([type="submit"]):hover, .panel input:not([type="submit"]):focus {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

.panel input[type="submit"] {
  font-size: 1em;
  font-family: 'Roboto';
  font-weight: 500;
  height: 3em;
  width: calc(100% - 4em);
  position: absolute;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin: auto;
}

.panel input[type="submit"]:hover {
  cursor: pointer;
}

.panel form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  width: 100%;
  height: calc( 100% - 6em);
}

#newsletter {
  margin: auto;
  height: 100vh;
  position: relative;
  top: 100vh;
}

#newsletter form {
  padding-top: 50px;
  height: 300px;
  margin: auto;
  width: 80%;
  font-family: 'Roboto';
  position: relative;
  top: 220px;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

#newsletter form span {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  clear: left;
  display: block;
  text-align: center;
}

#newsletter form span:nth-of-type(1) {
  font-size: 27px;
}

#newsletter form span:nth-of-type(2) {
  margin-top: 35px;
}

#newsletter form span:nth-of-type(3) {
  margin-top: 35px;
}

#newsletter form input[id="rule"]:checked ~ select {
  opacity: 1;
}

#newsletter form input[type="submit"] {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
  padding: 10px 20px;
  font-size: 25px;
  font-family: 'Roboto';
  font-style: italic;
  border: 0;
  outline: 0;
}

#newsletter form input[type="submit"]:hover {
  cursor: pointer;
}

#newsletter form input[type="email"] {
  margin: 10px;
  margin-top: 20px;
}

#newsletter form select {
  opacity: 0;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-160px, -18px);
          transform: translate(-160px, -18px);
  border: 0;
  outline: transparent;
  background-color: transparent;
}

#newsletter .back {
  position: absolute;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#newsletter .back a {
  position: relative;
  top: 0;
  text-decoration: none;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

#newsletter .back input[type="submit"] {
  font-size: 1em;
  font-family: 'Roboto';
  font-weight: 500;
  height: 3em;
  width: calc(100% - 4em);
  position: absolute;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin: auto;
}

#newsletter .back input[type="submit"]:hover {
  cursor: pointer;
}

.button {
  position: relative;
  width: 340px;
  height: 480px;
  float: left;
  color: rgba(0, 0, 0, 0.5);
}

.button h1 {
  display: block;
  padding: 10px 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: 'Roboto';
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 10px;
}

.button a {
  text-decoration: none;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.button input {
  display: block;
  padding: 10px 15px;
  font-family: 'Roboto';
  font-size: 16px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 10px;
}

.button input:hover {
  cursor: pointer;
}

.button div {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
/*# sourceMappingURL=logowanie.css.map */